.custom-counter {
  display: flex;

  input {
    text-align: center;
    height: inherit;
    width: 30px;
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-weight: 800;
  }

  button {
    background: inherit;
    border: none;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
