.custom-counter {
  display: flex;

  input {
    text-align: center;
    height: inherit;
    width: 30px;
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-weight: 800;
  }

  button {
    background: inherit;
    border: none;
  }
}
