
.ico {
  display: block;
  cursor: pointer;

  &--buy {
    background: url("../../src/img/icons/icon-buy.svg");
    width: 30px;
    height: 23px;
  }

  &--like {
    background: url("../../src/img/icons/icon-like.svg");
    width: 24px;
    height: 22px;
  }

  &--arrow-up {
    background: url("../../src/img/icons/icon-arrow-up.svg");
    rotate: -90deg;
    width: 35px;
    height: 35px;
    @include img-container;
  }

  &--minus {
    background: url("../../src/img/icons/icon-minus.svg");
    width: 27px;
    height: 15px;
    @include img-container;
  }

  &--plus {
    background: url("../../src/img/icons/icon-plus.svg");
    width: 27px;
    height: 27px;
    @include img-container;
  }

  &--cross {
    background: url("../../src/img/icons/icon-cross.svg");
    width: 35px;
    height: 35px;
    @include img-container;
  }
}
