.ico {
  display: block;

  &--buy {
    background: url("../../src/img/icons/icon-buy.svg");
    width: 30px;
    height: 23px;
  }

  &--like {
    background: url("../../src/img/icons/icon-like.svg");
    width: 24px;
    height: 22px;
  }

  &--arrow-up {
    background: url("../../src/img/icons/icon-arrow-up.svg");
    rotate: -90deg;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
