%transition {
  transition: all .3s ease-out;
}

%font-primary {
  font-family: 'SF Pro Display', sans-serif;
}

%font-add {
  font-family: 'Barlow', sans-serif;
}

%img-container {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
